<br><br><br>
<div class="container">
    <br><br>
	<form [formGroup]="signupForm" (ngSubmit)='signup()'>
		<h1>Create Account</h1>
		<div class="form-group card-body">
            <table>
                <tr>
                    <th>Name</th>
                    <td><input class="form-control" style="width: 30rem;" placeholder="Enter Name" formControlName="name"></td>
                </tr>
                <tr>
                    <th>e-mail</th>
                    <td><input class="form-control" style="width: 30rem;" placeholder="Enter e-mail" formControlName="email"></td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td><input type="email" class="form-control" style="width: 30rem;" placeholder="Enter password" formControlName="password"></td>
                </tr>
                <tr>
                    <th>Mobile</th>
                    <td><input class="form-control" style="width: 30rem;" placeholder="Enter mobile" formControlName="mobile"></td>
                </tr>
                <tr>
                    <th>City</th>
                    <td><input class="form-control" style="width: 30rem;" placeholder="Enter city" formControlName="city"></td>
                </tr>
				<tr>
					<th>Role</th>
					<td align="left">
						<select class="selectpicker" data-style="btn-primary" name='role'  formControlName="Role">
							<option selected="selected">Select</option>
							<option value="customer">Customer</option>
							<option value="broker">Broker</option>
						</select>
					</td>
				</tr>
                <tr>
            </table>
        </div>
		<button  type="submit">Sign up</button>
		<br>
	  </form>
	  
</div>
<br>
<div class="text-center">Already have an account? <button [routerLink]="['/login']">Sign in</button></div>
