<div class="card text-white bg-secondary" align="center" style="width: 50rem; float: center;">
    <form (ngSubmit)="updateBroker()">
        <div class="card-header">
            <h4>Update Details</h4>
        </div>
        <div class="form-group card-body">
            <table>
                <tr>
                    <th>Name</th>
                    <td><input class="form-control" style="width: 30rem;" [(ngModel)]="broker.broName" name="broName"></td>
                </tr>
                <tr>
                    <th>Mobile Number</th>
                    <td><input class="form-control" style="width: 30rem;" [(ngModel)]="broker.mobile" name="mobile"></td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td><input type="email" class="form-control" style="width: 30rem;" [(ngModel)]="broker.email" name="email"></td>
                </tr>
                <tr>
                    <th>City</th>
                    <td><input class="form-control" style="width: 30rem;" [(ngModel)]="broker.city" name="city"></td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td><input type="password" class="form-control" style="width: 30rem;" [(ngModel)]="broker.password" name="password"></td>
                </tr>
                <tr>
                    <th>Re-enter Password</th>
                    <td><input type="password" class="form-control" style="width: 30rem;" [(ngModel)]="pass" name="repassword"></td>
                </tr>
            </table>
        </div>
        <div class="form-group card-footer">
            <button class="btn btn-success btn-sm">Update</button>
        </div>
    </form>
</div>



<!-- <hr>

<div class="container">
    <form (ngSubmit)="updateBroker()">
        <div class="form-group">
            Name
            <input class="form-control" [(ngModel)]="broker.broName" name="broName">
        </div>
        <div class="form-group">
            Email
            <input type="email" class="form-control" [(ngModel)]="broker.email" name="email">
        </div>
        <div class="form-group">
            Mobile Number
            <input class="form-control" [(ngModel)]="broker.mobile" name="mobile">
        </div>
        <div class="form-group">
            City
            <input class="form-control" [(ngModel)]="broker.city" name="city">
        </div>
        <div class="form-group">
            Password
            <input type="password" class="form-control" [(ngModel)]="broker.password" name="password">
        </div>
        <div class="form-group">
            Re-enter Password
            <input type="password" class="form-control" [(ngModel)]="pass" name="repassword">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Update</button>
        </div>
    </form>
</div> -->
