<!-- ======= Intro Single ======= -->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">We Help You Find Your Perfect Home</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            About
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section><!-- End Intro Single-->

<!-- ======= About Section ======= -->
<section class="section-about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-img-box">
                    <img src="../../assets/img/slide-about-1.jpg" alt="" class="img-fluid">
                </div>
                <div class="sinse-box">
                    <h3 class="sinse-title">EstateAgency
                        <span></span>
                        <br> Since 2021
                    </h3>
                    <p>Building a Better Life</p>
                </div>
            </div>
            <div class="col-md-12 section-t8">
                <div class="row">
                    <div class="col-md-6 col-lg-5">
                        <img src="../../assets/img/android-chrome-512x512.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-2  d-none d-lg-block">
                        <div class="title-vertical d-flex justify-content-start">
                            <span>EstateAgency</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 section-md-t3">
                        <div class="title-box-d">
                            <h3 class="title-d">Our
                                <span class="color-d">Believe</span>
                            </h3>
                        </div>
                        <p class="color-text-a">
                            We believe real estate is more than just building the proverbial four walls, it's about
                            "Building a Better Life". This is the ideology with which we at EstateAgency have delivered
                            the
                            world's finest developments that have become some of the most iconic addresses of our
                            customers.
                        </p>
                        <br>
                        <ul>
                            <li>Brokers can add, update and delete properties after signing up as broker.</li>
                            <li>Customer can see the list of properties available for buying, selling &
                                renting.</li>
                            <li>Customer can buy/rent the properties after searching based of his preferences.</li>
                            <li>Once the customer bought/rented the property, it is no longer be available for
                                others.</li>
                            <li>Customer can see the properties he bought/rented in his dashboard</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>