<style>
    th, td{
        text-align: center;
    }
</style>
<div class="container" align="center">
    <h1>All Customer Records</h1>
</div>
<div align="center">
    <p style="float: center; width: 50rem;">
        <input class="form-control" name="search" [(ngModel)]="searchText" placeholder="Search here">
    </p>
</div>
<hr>

<div class="card-columns">
    <div class="card mb-5 rounded border shadow-sm" align = "center" *ngFor="let c of cust | filter:searchText">
        <div class="card-header">
            <div align="left">
                <b>CustomerID:{{c.userId}}</b>
            </div>
            <div align="right">
                <button class="btn btn-danger btn-sm" (click)='delete(c.userId)'><i class="bi bi-trash"></i></button>&nbsp;
                <button class="btn btn-success btn-sm" [routerLink]="['/admin/customer/update',c.userId]"><i class="bi bi-pen"></i></button>
            </div>
        </div>
        <div class="card-body" style="float: center;">
            <img class="card-img-top" src="/assets/img/broker.jpg" alt="img not found">
            <h4 class="card-title">{{c.custName}}</h4>
            <p class="card-text"><i class="bi bi-telephone-fill"></i> +91{{c.mobile}}</p>
            <p><i class="bi bi-envelope-fill"></i> {{c.email}}</p>
        </div>
        <div class="card-footer text-muted">
            <i class="bi bi-geo-alt-fill"></i> {{c.city}}
        </div>
    </div>
  
</div>


  

