/.metadata/
*.properties
frontend/angular.json
frontend/package.json
frontend/angular.json
frontend/package-lock.json
frontend/package-lock.json
frontend/package.json
*.properties
backend/src/main/resources/application.properties
backend/target/classes/application.properties
