<div class="container">
    <div><h3>Property Details</h3></div>
    <table class="table table-borderless">
        <tr>
            <td>Property Id</td>
            <td>{{prop.propId}}</td>
        </tr>
        <tr>
            <td>Configuration</td>
            <td>{{prop.configuration}}</td>
        </tr>
        <tr>
            <td>Offer Type</td>
            <td>{{prop.offerType}}</td>
        </tr>
        <tr>
            <td>Offer Cost</td>
            <td>{{prop.offerCost}}</td>
        </tr>
        <tr>
            <td>Area in Square feet</td>
            <td>{{prop.areaSqft}}</td>
        </tr>
        <tr>
            <td>City</td>
            <td>{{prop.city}}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{prop.address}}</td>
        </tr>
        <tr>
            <td>Street</td>
            <td>{{prop.street}}</td>
        </tr>
        <tr>
            <td colspan="2"><button class="btn btn-primary" (click)='makeDeal()'>Buy</button></td>
        </tr>
    </table>
    

    

</div>