
<div class="container" align="center">
    <h2>Properties based on Criteria</h2>
</div>

<hr>

<div class="card-columns">
    <div class="card mb-5 rounded border shadow-sm" align = "center" *ngFor="let p of properties | availableProp">
        <div class="card-header">
            <div align="left">
                <b>Property Id:{{p.propId}}</b>
            </div>
            <div align="right">
                <button class="btn btn-success btn-sm" [routerLink]="['/customer/deal',p.propId]">{{p.offerType | offer}}</button>
            </div>
        </div>
        <div class="card-body" style="float: center;">
            <img class="card-img-top" src="../assets/img/home.jpg" alt="img not found">
            <h4 class="card-title">{{p.configuration}}</h4>
            <table>
                <tr align="left">
                    <th align="left">Area in square feet: </th>
                    <td>{{p.areaSqft}}</td>
                </tr>
            </table>
        </div>
        <div class="card-footer text-muted">
            <div  class="container" align="left">
                <table>
                    <tr align="left">
                        <th>Address: </th>
                        <td>{{p.address}}</td>
                    </tr>
                    <tr align="left">
                        <th>Street: </th>
                        <td>{{p.street}}</td>
                    </tr>
                    <tr align="left">
                        <th>City: </th>
                        <td>{{p.city}}</td>
                    </tr>
                </table>
            </div>
            <div align="right">
                <h4>&#8377; {{p.offerCost}}</h4>
            </div>
        </div>
    </div>
  
</div>
