<div class="card text-white bg-secondary" align="center" style="width: 50rem; float: center;">
    <form [formGroup]="propForm" (ngSubmit)="regProperty()">
        <div class="card-header">
            <h4>Property Registration Form</h4>
        </div>
        <div class="form-group card-body">
            <table>
                <tr>
                    <th>Configuration</th>
                    <td><input class="form-control" style="width: 30rem;" placeholder="Enter Configuration" formControlName="configuration"></td>
                </tr>
                <tr>
                    <th>Offer Type</th>
                    <td><input class="form-control" style="width: 30rem;" placeholder="Enter Type" formControlName="offerType"></td>
                </tr>
                <tr>
                    <th>Offer Cost</th>
                    <td><input type="email" class="form-control" style="width: 30rem;" placeholder="Enter price" formControlName="offerCost"></td>
                </tr>
                <tr>
                    <th>AreaSqft</th>
                    <td><input class="form-control" style="width: 30rem;" placeholder="Enter Area in sqft." formControlName="areaSqft"></td>
                </tr>
                <tr>
                    <th>City</th>
                    <td><input class="form-control" style="width: 30rem;" placeholder="Enter city" formControlName="city"></td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td><input class="form-control" style="width: 30rem;" placeholder="Enter Address" formControlName="address"></td>
                </tr>
                <tr>
                    <th>Street</th>
                    <td><input class="form-control" style="width: 30rem;" placeholder="Enter street" formControlName="street"></td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td><input class="form-control" style="width: 30rem;" placeholder="Enter status" formControlName="status"></td>
                </tr>
            </table>
        </div>
        <div class="form-group card-footer">
            <button class="btn btn-success btn-sm">Register</button>
        </div>
    </form>
</div>
