<br><br><br>
<div class="container">
    <br><br>
    <form [formGroup]="customerForm" (ngSubmit)='create()'>
        <h1>Create Account</h1>
        <div class="form-group card-body">
            <table class="table table-borderless ">
                <tr>
                    <td style="line-height: 50px;">Name</td>
                    <td align="left"><input class="form-control" style="width: 30rem;" placeholder="Enter name"
                            formControlName="custName">
                        <span *ngIf="custName?.touched && !custName?.valid" class="badge badge-warning">Invalid Name</span>
                    </td>
                </tr>
                <tr>
                    <td style="line-height: 50px;">E-mail</td>
                    <td align="left"><input class="form-control" style="width: 30rem;" placeholder="Enter e-mail"
                            formControlName="email">
                        <span *ngIf="email?.touched && !email?.valid" class="badge badge-warning">Invalid email</span>
                    </td>
                </tr>
                <tr>
                    <td style="line-height: 50px;">Password</td>
                    <td align="left"><input type="password" class="form-control" style="width: 30rem;"
                            placeholder="Enter password" formControlName="password">
                        <span *ngIf="password?.touched && !password?.valid" class="badge badge-warning">Invalid
                            Password</span>
                    </td>
                </tr>
                <tr>
                    <td style="line-height: 50px;">Mobile</td>
                    <td align="left"><input class="form-control" style="width: 30rem;" placeholder="Enter mobile"
                            formControlName="mobile">
                        <span *ngIf="mobile?.touched && !mobile?.valid" class="badge badge-warning">Invalid Mobile
                            number</span>
                    </td>
                </tr>
                <tr>
                    <td style="line-height: 50px;">City</td>
                    <td align="left">
                        <select class="form-select" name="city" style="width: 30rem; height: 2.5rem;"
                            formControlName='city'>
                            <option value="" selected disabled>Please select a city </option>
                            <option value="Ahmedabad">Ahmedabad</option>
                            <option value="Assam">Assam</option>
                            <option value="Bengaluru">Bengaluru</option>
                            <option value="Bhopal">Bhopal</option>
                            <option value="Chennai">Chennai</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Hyderabad">Hyderabad</option>
                            <option value="Jaipur">Jaipur</option>
                            <option value="Kanpur">Kanpur</option>
                            <option value="Kochi">Kochi</option>
                            <option value="Kolkata">Kolkata</option>
                            <option value="Lucknow">Lucknow</option>
                            <option value="Mumbai">Mumbai</option>
                            <option value="Nagpur">Nagpur</option>
                            <option value="Noida">Noida</option>
                            <option value="Patna">Patna</option>
                            <option value="Pune">Pune</option>
                            <option value="Vizag">Vizag</option>
                        </select><br>
                        <span *ngIf="city?.touched && !city?.valid" class="badge badge-warning">Invalid City</span>
                    </td>
                </tr>
                <tr>
            </table>
        </div>
        <button type="submit" [disabled]="!customerForm.valid">Create Account</button>
        <br>
        <br>
    </form>

</div>
<br><br>