<div class="container">
    <h1>Enter Property Criteria</h1>
</div>

<div class="container">
    <div>
        <form [formGroup]="propForm" (ngSubmit)="searchProp()">
            <div class="form-group">
                <label class="form-check form-check-inline" for="config">Configuration</label>
                <select name="config"  formControlName='config'>
                    <option value="Flat">Flat</option>
                    <option value="Shop">Shop</option>
                    <option value="Plot">Plot</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-check form-check-inline" for="offer">Offer Type</label>
                <select name="offer"  formControlName='offer'>
                    <option value="Sell">Sell</option>
                    <option value="Rent">Rent</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-check form-check-inline" for="city">Offer Type</label>
                <select name="city"  formControlName='city'>
                    <option value="Rajahmundry">Rajahmundry</option>
                    <option value="Hyderabad">Hyderabad</option>
                    <option value="Vijayawada">Vijayawada</option>
                    <option value="Khammam">Khammam</option>
                    <option value="Warangal">Warangal</option>
                    <option value="Pulivendula">Pulivendula</option>
                    <option value="Vizag">Vizag</option>
                </select>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Enter minimum cost" formControlName="minCost">
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Enter maximum cost" formControlName="minCost">
            </div>
        </form>
    </div>
</div>