<h2>My Properties</h2>
<div class="container">
    <table class="table table table-hover">
        <tr>
            <th>Property Id</th>
            <th>Configuration</th>
            <th>Offer Type</th>
            <th>Offer Cost</th>
            <th>Area in square feet</th>
            <th>City</th>
            <th>Address</th>
            <th>Street</th>
            <th>Status</th>
        </tr>
        <tr *ngFor='let p of properties'>
            <td>{{p.propId}}</td>
            <td>{{p.configuration}}</td>
            <td>{{p.offerType}}</td>
            <td>{{p.offerCost}}</td>
            <td>{{p.areaSqft}}</td>
            <td>{{p.city}}</td>
            <td>{{p.address}}</td>
            <td>{{p.street}}</td>
            <td>{{p.status}}</td>
        </tr>
    </table>
</div>