<style>
    th, td{
        text-align: center;
    }
</style>
<div class="container" align="center">
    <h1>All Deals</h1>
</div>
<hr>

<div class="card-columns">
    <div class="card mb-5 rounded border shadow-sm" align = "center" *ngFor="let d of deals">
        <div class="card-header">
            <div align="left">
                <b>Deal ID:{{d.dealId}}</b>
            </div>
        </div>
        <div class="card-body">
            <img class="card-img-top" src="../assets/img/Deal.png" alt="img not found">
            <table class="table table-borderless">
                
            </table>
            <table class="table table-borderless">
                <tr>
                    <th align="left">Customer Id</th>
                    <td align="left">{{d.customer.userId}}</td>
                </tr>
                <tr>
                    <th align="left">Propoerty Id</th>
                    <td align="left">{{d.property.propId}}</td>
                </tr>
                <tr>
                    <th align="left">Deal Date</th>
                    <td align="left">{{d.dealDate | date:'yyyy-MM-dd'}}</td>
                </tr>
                <tr>
                    <th align="left">Deal Cost</th>
                    <td align="left">{{d.dealCost}}</td>
                </tr>
            </table>
                
                
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
  
</div>