<br>
<div class="container" align="center">
    <br>
    <img src="/assets/img/Update-pana.png" alt="img not found" style="float: center; height: 400px; width: 400px;">
    <h1>Update Property</h1>
    <form (ngSubmit)="updateData()">
        <div class="form-group card-body">
            <table class="table table-borderless">
                <tr>
                    <td align="left" style="line-height: 50px;">Configuration</td>
                    <td align="left">
                        <select class="form-select" name="configuration" style="width: 30rem; height: 2.5rem;"
                        [(ngModel)]="prop.configuration">
                            <option value="" selected disabled>Please select a configuration</option>
                            <option value="Flat">Flat</option>
                            <option value="Plot">Plot</option>
                            <option value="Shop">Shop</option>
                        </select><br>
                    </td>
                </tr>
                <tr>
                    <td align="left" style="line-height: 50px;">Offer Type</td>
                    <td align="left">
                        <select class="form-select" name="offerType" style="width: 30rem; height: 2.5rem;"
                        [(ngModel)]="prop.offerType">
                            <option value="" selected disabled>Please select an offer type</option>
                            <option value="Sell">Sell</option>
                            <option value="Rent">Rent</option>
                        </select><br>
                    </td>
                </tr>
                <tr>
                    <td align="left" style="line-height: 50px;">Offer Cost</td>
                    <td align="left"><input class="form-control" [(ngModel)]="prop.offerCost" style="width: 30rem;" name="offerCost"></td>
                </tr>
                <tr>
                    <td align="left" style="line-height: 50px;">Area (in sqft.)</td>
                    <td align="left"><input class="form-control" [(ngModel)]="prop.areaSqft" style="width: 30rem;" name="areaSqft"></td>
                </tr>
                <tr>
                    <td style="line-height: 50px;">City</td>
                    <td align="left">
                        <select class="form-select" name="city" style="width: 30rem; height: 2.5rem;"
                        [(ngModel)]="prop.city">
                            <option value="" selected disabled>Please select a city </option>
                            <option value="Ahmedabad">Ahmedabad</option>
                            <option value="Bengaluru">Bengaluru</option>
                            <option value="Bhopal">Bhopal</option>
                            <option value="Chennai">Chennai</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Guwahati">Guwahati</option>
                            <option value="Hyderabad">Hyderabad</option>
                            <option value="Jaipur">Jaipur</option>
                            <option value="Kanpur">Kanpur</option>
                            <option value="Kochi">Kochi</option>
                            <option value="Kolkata">Kolkata</option>
                            <option value="Lucknow">Lucknow</option>
                            <option value="Mumbai">Mumbai</option>
                            <option value="Nagpur">Nagpur</option>
                            <option value="Noida">Noida</option>
                            <option value="Patna">Patna</option>
                            <option value="Pune">Pune</option>
                            <option value="Vizag">Vizag</option>
                        </select><br>
                    </td>
                </tr>
                <tr>
                    <td align="left" style="line-height: 50px;">Address</td>
                    <td align="left"><input class="form-control" style="width: 30rem;" [(ngModel)]="prop.address" name="address"></td>
                </tr>
                <tr>
                    <td align="left" style="line-height: 50px;">Street</td>
                    <td align="left"><input class="form-control" style="width: 30rem;" [(ngModel)]="prop.street" name="street"></td>
                </tr>
                <!-- <tr>
                    <td align="left" style="line-height: 50px;">Status</td>
                    <td align="left"><input class="form-control" style="width: 30rem;" [(ngModel)]="prop.status" name="status"></td>
                </tr> -->
                <tr>
                    <td style="line-height: 50px;">Status</td>
                    <td align="left">
                        <select class="form-select" name="status" style="width: 30rem; height: 2.5rem;"
                        [(ngModel)]="prop.status">
                            <option value="" selected disabled>Please select status</option>
                            <option value="true">Available</option>
                            <option value="false">Not Available</option>
                        </select><br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><button class="btn btn-primary">Update</button></td>
                </tr>
            </table>
        </div>
    </form>
</div>






<!-- <hr>
<div class="card text-white bg-secondary" align="center" style="width: 50rem; float: center;">
    <form (ngSubmit)="updateData()">
        <div class="card-header">
            <h4>Update Details</h4>
        </div>
        <div class="form-group card-body">
            <table>
                <tr>
                    <th>Configuration</th>
                    <td><input class="form-control" style="width: 30rem;" [(ngModel)]="prop.configuration" name="configuration"></td>
                </tr>
                <tr>
                    <th>Offer Type</th>
                    <td><input class="form-control" style="width: 30rem;" [(ngModel)]="prop.offerType" name="offerType"></td>
                </tr>
                <tr>
                    <th>Offer Cost</th>
                    <td><input type="email" class="form-control" style="width: 30rem;" [(ngModel)]="prop.offerCost" name="offerCost"></td>
                </tr>
                <tr>
                    <th>Area in sqft</th>
                    <td><input class="form-control" style="width: 30rem;" [(ngModel)]="prop.areaSqft" name="areaSqft"></td>
                </tr>
                <tr>
                    <th>City</th>
                    <td><input class="form-control" style="width: 30rem;" [(ngModel)]="prop.city" name="city"></td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td><input class="form-control" style="width: 30rem;" [(ngModel)]="prop.address" name="address"></td>
                </tr>
                <tr>
                    <th>Street</th>
                    <td><input class="form-control" style="width: 30rem;" [(ngModel)]="prop.street" name="street"></td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td><input class="form-control" style="width: 30rem;" [(ngModel)]="prop.status" name="status"></td>
                </tr>
            </table>
        </div>
        <div class="form-group card-footer">
            <button class="btn btn-success btn-sm">Update</button>
        </div>
    </form>
</div> -->
