<div class="container">
    <form (ngSubmit)="updateCustomer()">
        <div class="form-group">
            Name
            <input class="form-control" [(ngModel)]="customer.custName" name="name">
        </div>
        <div class="form-group">
            Email
            <input type="email" class="form-control" [(ngModel)]="customer.email" name="email">
        </div>
        <div class="form-group">
            Mobile Number
            <input class="form-control" [(ngModel)]="customer.mobile" name="mobile">
        </div>
        <div class="form-group">
            City
            <input class="form-control" [(ngModel)]="customer.city" name="city">
        </div>
        <div class="form-group">
            Password
            <input type="password" class="form-control" [(ngModel)]="customer.password" name="password">
        </div>
        <div class="form-group">
            Re-enter Password
            <input type="password" class="form-control" [(ngModel)]="pass" name="repassword">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Update</button>
        </div>
    </form>
</div>