<section class="section-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">EstateAgency</h3>
          </div>
          <div class="w-body-a">
            <p class="w-text-a color-text-a">
              Launched in 2021, EstateAgency is India's No.1 online Property marketplace to buy, sell, and rent
              residential and commercial properties. Adjudged as the most preferred real estate portal in India by
              various independent surveys.
            </p>
          </div>
          <div class="w-footer-a">
            <ul class="list-unstyled">
              <li class="color-a">
                <span class="color-text-a">Phone .</span> sanjaydas251297@gmail.com
              </li>
              <li class="color-a">
                <span class="color-text-a">Email .</span> +91 99549889201
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 section-md-t3">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">The Company</h3>
          </div>
          <div class="w-body-a">
            <div class="w-body-a">
              <ul class="list-unstyled">
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i>Site Map
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i>Legal
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i>Agent Admin
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i>Careers
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i>Affiliate
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i>Privacy Policy
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 section-md-t3">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">Our Office Locations</h3>
          </div>
          <div class="w-body-a">
            <ul class="list-unstyled">
              <li class="item-list-a">
                <i class="fa fa-angle-right"></i> Guwahati
              </li>
              <li class="item-list-a">
                <i class="fa fa-angle-right"></i> Hyderabad
              </li>
              <li class="item-list-a">
                <i class="fa fa-angle-right"></i> Pune
              </li>
              <li class="item-list-a">
                <i class="fa fa-angle-right"></i> Mumbai
              </li>
              <li class="item-list-a">
                <i class="fa fa-angle-right"></i> Chennai
              </li>
              <li class="item-list-a">
                <i class="fa fa-angle-right"></i> Bangaluru
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ======= Footer ======= -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="nav-footer">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#">Home</a>
            </li>
            <li class="list-inline-item">
              <a [routerLink]="['/about']">About</a>
            </li>
            <li class="list-inline-item">
              <a a [routerLink]="['/login']">Property</a>
            </li>
            <li class="list-inline-item">
              <a [routerLink]="['/developers']">Developers</a>
            </li>
            <li class="list-inline-item">
              <a [routerLink]="['/contact']">Contact</a>
            </li>
          </ul>
        </nav>
        <div class="socials-a">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://in.pinterest.com/">
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://dribbble.com/">
                <i class="fa fa-dribbble" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="copyright-footer">
          <p class="copyright color-text-a">
            &copy; Copyright
            <span class="color-a">EstateAgency</span> All Rights Reserved.
          </p>
        </div>
        <div>
          Designed by Sanjay Das
        </div>
      </div>
    </div>
  </div>
</footer>